.card {
    transition: 0.3s;
    position: relative;
    background: #4c6c8911;
    color: #4c6c89;
}

.card::before {
    content: "";
    position: absolute;
    border: 1px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: 0.3s;
}

.card:hover::before {
    border: 1px solid #233b5133;
}

.card:hover {
    transform: translateY(-8px);
}


.skills {
    position: relative;
}

.skills::before,
.skills::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
}

.skills::before {
    background-color: #253e55c4;
    z-index: -1;
}

.skills::after {
    background-image: url(https://cdn.pixabay.com/photo/2018/03/17/10/49/bulletin-board-3233641_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-attachment: fixed;
    background-position: center 100px;
}

.skill svg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), #CFD8DC);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 15px 0 rgba(14, 10, 10, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    width:50px;
    height:50px;
    padding: 5px;
}

.skill.htl {
    color: rgb(244, 137, 61);
}

.skill.htl div span {
    background: rgb(244, 137, 61);
}

.skill.css {
    color: #1f87ff;
}

.skill.css div span {
    background: rgb(31, 135, 255);
}

.skill.js {
    color: rgb(229, 255, 31);
}

.skill.js div span {
    background: rgb(201, 218, 74);
}

.skill.tailwind {
    color: #00bcff;
}

.skill.tailwind div span {
    background: #00bcff;
}

.skill.react {
    color: rgb(0, 132, 255);
}

.skill.react div span {
    background: rgb(0, 132, 255);
}

.skill.sas {
    color: rgb(255, 0, 47);
}

.skill.sas div span {
    background: rgb(255, 0, 47);
}