ul.nav-bar li a {
    position: relative;
    z-index: 10;
    padding: 8px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

ul.nav-bar li:not(:last-of-type) a::before {
    content: "";
    position: absolute;
    right: -8px;
    background-color: #009688;
    width: 4px;
    height: 0;
    z-index: -1;
    transition: 0.3s;
}

@media (min-width: 768px) {
    ul.nav-bar li:not(:last-of-type) a::before {
        right: -24px;

    }
}

ul.nav-bar li:last-of-type a svg {
    transition-duration:  0.5s ;
    transition-property: transform;
}

ul.nav-bar li:last-of-type.clicked {
    color: #4DB6AC;
}

ul.nav-bar li:last-of-type.clicked a svg {
    transform: rotate(180deg);
}

ul.nav-bar li:not(:last-of-type) a.active::before,
ul.nav-bar li:not(:last-of-type) a:hover::before,
ul.nav-bar li:not(:last-of-type).active a::before {
    height: 80%;
}   

ul.nav-bar li:not(:last-of-type) a:hover,
ul.nav-bar li:not(:last-of-type).active {
    color: #4DB6AC;
}

ul.social-media li,
ul.nav-bar li, 
ul.nav-bar li > * {
    transition: 0.3s;
}

ul.social-media li:hover {
    transform: translateY(-5px);
    background-color: transparent;
}

ul.social-media li.facebook:hover {
    box-shadow: 0 0 2px 0px #1877f2 inset;
}

ul.social-media li.twitter:hover {
    box-shadow: 0 0 2px 0px #1da1f2 inset;
}

ul.social-media li.github:hover {
    box-shadow: 0 0 2px 0px #333 inset;
}

ul.social-media li.linkedin:hover {
    box-shadow: 0 0 2px 0px #0a66c2 inset;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    /* width: 10px; */
    border-radius: 5px;
    background-color: #88888899;
}

::-webkit-scrollbar-track {
    /* width: 5px; */
    background-color: #aaaaaa55;
}

.head-section {
    position: relative;
    font-size: 70px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    color: #4c6c89;
    width: fit-content;
}

.head-section::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 5px;
    background: linear-gradient(to right, #f5f5f5 , #213b53);
    transition: 0.3s;
}

.head-section:hover::before {
    animation: ranning 0.5s infinite alternate-reverse;
}

@keyframes ranning {
    0% ,100% {
        background: linear-gradient(to right, #f5f5f5, #213b53);
        width: 40%;
        
    }

    50% {
        background: linear-gradient(to left, #f5f5f5, #213b53);
        width: 60%;
    }
}

form.contact-form::before,
form.contact-form::after {
    position: absolute;
    content: "";
    width: calc(100% + 30px);
    height: 100vh;
    right: -30px;
    top: -235px;
}

form.contact-form::before {
    background: #b2dfdb9e;
    z-index: -1;
}

form.contact-form:after {
    background-image: url(https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849826_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
}

@media (max-width:768px) {
    form.contact-form::before,
    form.contact-form::after {
        display: none;
    }
}